.decision {
  padding: 90px 0 75px 0;
  background-image: url(../img/decision__bg-left.png),
    url(../img/decision__bg-right.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left -100px, top right -100px;

  @include r(1639) {
    background-position: top left -200px, top right -215px;
  }

  @include r(1463) {
    background-image: none;
  }

  &__container {
    position: relative;
  }

  &__product {
    position: absolute;
    right: 90px;
    top: calc(50% - 168px);
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 1px solid #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;

    @include r(1219) {
      right: 30px;
      top: calc(50% - 176px);
      width: 430px;
      height: 430px;
    }
    @include r(1023) {
      border: none;
    }

    @include r(767) {
      position: static;
      height: auto;
      width: 300px;
      margin: 0 auto;
      border: none;
    }
  }

  .product {
    &__circle {
      position: absolute;
      width: 22px;
      height: 22px;
      left: 0;
      background: #e8c652;
      border-radius: 50%;
      border: 6px solid #e9e9e9;
      box-sizing: border-box;

      @include r(1023) {
        display: none;
      }

      &-top {
        left: 99px;
        top: 18px;

        &::after,
        &::before {
          position: absolute;
          content: "";
          background: #eaeaea;
          height: 1px;
        }

        &::before {
          left: -50px;
          top: -27px;
          width: 46px;
          transform: rotate(45deg);
        }
        &::after {
          width: 128px;
          top: -43px;
          left: -170px;
        }
      }
      &-center {
        left: -8px;
        top: 178px;

        &::after {
          position: absolute;
          content: "";
          background: #eaeaea;
          height: 1px;
          width: 128px;
          top: 5px;
          left: -150px;
          @include r(1219) {
            left: -94px;
            width: 80px;
          }
        }
      }
      &-bottom {
        left: 41px;
        bottom: 67px;
        @include r(1219) {
          left: 32px;
        }
        &::after {
          position: absolute;
          content: "";
          background: #eaeaea;
          height: 1px;
          width: 128px;
          top: 6px;
          left: -150px;
          @include r(1219) {
            width: 40px;
            left: -48px;
            top: 20px;
            transform: rotate(-25deg);
          }
        }
      }
    }

    &__center {
      width: 358px;
      height: 358px;
      border-radius: 50%;
      border: 1px solid #e9e9e9;
      position: relative;

      @include r(1023) {
        border: none;
      }

      @include r(767) {
        margin-top: 10px;
        height: 285px;
        border: none;
        box-shadow: inset 0 0 20px #08324d;
      }
    }

    .content__img,
    .content__img-mini {
      position: absolute;
    }
    .content__img {
      top: 56px;
      left: -31px;

      @include r(1023) {
        max-width: 250px;
        top: 85px;
        left: 160px;
      }
      @include r(767) {
        left: 5px;
        top: 55px;
      }
    }
    .content__img-mini {
      top: 85px;
      left: 70px;

      @include r(1219) {
        left: 30px;
      }
      @include r(1023) {
        max-width: 90px;
        top: 120px;
        left: 126px;
      }
      @include r(767) {
        left: 48px;
        top: 100px;
      }
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
    @include r(767) {
      margin-bottom: 10px;
    }
  }

  &__content {
    @include r(767) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__list {
    max-width: 561px;
    @include r(1023) {
      max-width: 520px;
    }
    @include r(639) {
      max-width: none;
      width: 100%;
    }
  }

  .item {
    margin-bottom: 35px;
    @include r(1023) {
      margin-bottom: 20px;
    }

    &__container {
      display: flex;
      align-items: center;
      margin-bottom: 17px;
    }
    &__icon {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 20px;
      flex-shrink: 0;
      @include r(1023) {
        width: 50px;
        height: 50px;
      }
    }
    &__icon1 {
      background: #08324d url(../img/decision__icon1.png) no-repeat center;
    }
    &__icon2 {
      background: #08324d url(../img/decision__icon2.png) no-repeat center;
    }
    &__icon3 {
      background: #08324d url(../img/decision__icon3.png) no-repeat center;
    }
    &__icon1,
    &__icon2 {
      @include r(1023) {
        background-size: 70%;
      }
    }
    &__icon3 {
      @include r(1023) {
        background-size: 55%;
      }
    }

    &__title {
      font-size: 25px;
      font-weight: 500;
      line-height: 1.04;
      color: #222222;
      position: relative;
      @include r(1023) {
        font-size: 20px;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 1.44;
      color: #444444;
      // max-width: 561px;
      @include r(1023) {
        font-size: 16px;
        // max-width: 520px;
      }
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .decision {
    .product__circle-top::after {
      top: -58px;
      left: -205px;
      width: 150px;
    }

    .product__circle-top::before {
      left: -64px;
      top: -36px;
      width: 62px;
    }
    .product__circle-center {
      top: 191px;
      left: -10px;
    }

    .product__circle-bottom {
      bottom: 53px;
      left: 55px;
    }
  }
}
