// slick dots styles

.slick-dots li {
  width: 13px;
  height: 13px;
  background-color: #cfd2d4;
  border-radius: 50%;
}

.slick-dots li.slick-active {
  background-color: #08324d;
}

.slick-dots {
  bottom: -44px;
}

// slick dots styles ...... end

.reviews {
  padding: 130px 0;

  @include r(1023) {
    padding-bottom: 90px !important;
  }

  @include r(768) {
    padding-bottom: 40px !important;
  }

  @include r(479) {
    padding-bottom: 30px !important;
  }

  .reviews__container {
    @include r(768) {
      width: 480px;
    }
  }

  &__title {
    text-align: center;
    max-width: 900px;
    margin: 0px auto 46px;
    @include r(1023) {
      margin-bottom: 20px;
    }
  }

  .reviews__list {
    max-width: 100%;
    position: relative;
    z-index: 10;
  }

  .arrow-prev,
  .arrow-next {
    position: absolute;
    top: 0;
    width: 48px;
    height: 215px;
    opacity: 0.6;
    border-radius: 3px;
    background: #08324d url(../img/slider-arrow.png) no-repeat center;
    cursor: pointer;

    &:hover {
      background: rgba(#0f537d, 0.6) url(../img/slider-arrow.png) no-repeat
        center;
    }

    @include r(479) {
      width: 31px;
      height: 35px;
      top: 181px;
      border-radius: 0px;
      background: rgba(#debd51, 0.6) url(../img/slider-arrow.png) no-repeat
        center;
      opacity: 1;
    }
  }

  .arrow-prev {
    left: 15px;
    z-index: 10;
  }

  .arrow-next {
    right: 15px;
    z-index: 10;
    transform: rotate(180deg);
  }

  .slide {
    position: relative;
    width: 370px;
    height: 563px;
    border-radius: 3px;
    // border: solid 1px #dcdcdc;
    box-shadow: 0 0 0 1px #dcdcdc;
    background-color: #ffffff;
    font-size: 17px;
    line-height: 1.53;
    margin: 0 15px;
    box-sizing: border-box;
    display: flex;
    flex: 0 0;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 50px;
    overflow: hidden;
    transition: height 0.5s;
    margin-bottom: 2px;

    &:after {
      position: absolute;
      content: "";
      bottom: 35px;
      left: 0;
      width: 100%;
      height: 65px;
      // border: 2px solid red;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 5%,
        rgba(255, 255, 255, 0.7) 100%
      );
      transition: all 0.5s;
    }

    &__photo {
      position: relative;
      width: 100%;
      height: 215px;
      margin-bottom: 17px;
      overflow: hidden;
      flex-shrink: 0;
      z-index: 10;
      img.slide__img {
        width: 100%;
        min-height: 100%;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 35px;
        bottom: 0;
        background-color: rgba(#000000, 0.2);
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        line-height: 34px;
        color: #ffffff;
        text-transform: uppercase;
        z-index: 5;
      }

      .product-mini {
        position: absolute;
        top: 170px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9;
      }

      // @include r(1219) {
      //   height: 150px;
      // }

      &::before {
        content: "Before";
        left: 0;
      }

      &::after {
        content: "After";
        right: 0;
      }
    }

    &__name {
      font-weight: 500;
      color: #08324d;
      margin-bottom: 10px;
    }

    &__title {
      font-weight: 500;
      line-height: 25px;
      font-weight: 700;
      font-size: 17px;
      // margin-bottom: 12px;
    }

    &__desc {
      position: relative;
      overflow: hidden;
    }

    &__info {
      margin-bottom: 12px;
    }

    &__info,
    &__text-more,
    &__desc {
      padding: 0 25px;
    }

    &__text {
      margin-bottom: 10px;
    }

    &__text,
    &__text-more {
      color: #666666;
    }

    &__btn {
      position: absolute;
      left: 25px;
      bottom: 15px;
      font-size: 13px;
      line-height: 2;
      color: #08324d;
      cursor: pointer;
      align-content: flex-end;
      &:hover {
        color: #1b86c9;
      }
    }
  }
}

// click event.........js ( added class text-open )

.reviews {
  @include r(769) {
    .slick-list {
      transition: all 0.5s;
      height: 607px !important;
    }

    .slick-list-rise-height {
      height: 762px !important;
    }

    .slick-dots {
      bottom: 0px;
    }
  }

  @include r(479) {
    .slick-list-rise-height {
      height: 895px !important;
    }
  }
}

.slide.text-open {
  &:after {
    height: 0px !important;
  }
}

.slide__text-more {
  height: 0;
  overflow: hidden;
}

.text-open {
  @include rm(1024) {
    height: 635px !important;
  }
  @include r(1023) {
    height: 710px !important;
  }

  @include r(479) {
    height: 850px !important;
  }
  // .slide__desc {
  //   overflow-y: scroll;
  // }
}

// .....................

.moz-fix {
  box-shadow: none !important;
  border: solid 1px #dcdcdc !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .reviews {
    .slide {
      border: solid 1px #dcdcdc !important;
      box-shadow: none !important;
    }

    .slide__title {
      height: 50px;
    }
  }
}
