extends settings/layout

prepend html
  - const lang = "th";

prepend head
  - const pageTitle = "ซื้อ SuperFIT ราคาไม่แพง ราคา ความคิดเห็น สั่งซื้อ SuperFIT เลยตอนนี้!"
  - const themeColor = "#ffffff";

append head

append fonts
  link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap")

append content
  include components/header
  include components/promo
  include components/reviews
  include components/causes
  include components/decision
  include components/customers
  include components/composition
  include components/program
  include components/expert
  include components/choice
  include components/social
  include components/discount
  include components/order
  include components/promo-bottom
  include components/banner
  include components/popup
  include components/footer

append scripts
