section.block.causes
  .container.causes__container
    h2.causes__title.title Почему у вас не получается похудеть
    .causes__content
      ul.causes__list
        li.causes__item.item
          p.item__title Медленный обмен веществ
          p.item__text Организм превращает полученные калории в жир, который откладывается на бедрах, животе и боках.
        li.causes__item.item
          p.item__title Наследственность
          p.item__text Генетическая предрасположенность к&nbsp;полноте сводит все попытки похудеть на нет.
        li.causes__item.item
          p.item__title Переедание
          p.item__text Частые перекусы из-за стресса&nbsp;или привычки ведут к постоянному накоплению жировых тканей.
        li.causes__item.item
          p.item__title Сидячий образ жизни
          p.item__text Отсутствие нагрузок приводит к ожирению и вредит всем системам организма.
      .causes__picture
        .causes-picture-info Be On The Super Fast Track to a Slimmer &amp; Healthier You
        img.causes__picture-img(src="img/causes__main-img.png", alt="ribbon")
      p.causes__conclusion Только препарат, который решит все эти проблемы поможет похудеть и закрепить результат&nbsp;похудения.
