section.block.choice
  .container.choice__container
    .title.choice__title Здоровый выбор
      span.colored-text  SuperFit
    .choice__product.product
      img.product__img.product__img-stick(src="img/product-stick.png", alt="product-stick")
      img.product__img.product__img-box(src="img/product-rotate.png", alt="product")
    ul.choice__list
      li.choise__item.item
        .item__icon.item__icon-first
        p.item__title Утро
        p.item__text Обеспечивает организм полезными микроэлементами и витаминами
      li.choise__item.item
        .item__icon.item__icon-second
        p.item__title День
        p.item__text Запускает процесс сжигания&nbsp;жировых тканей
      li.choise__item.item
        .item__icon.item__icon-third
        p.item__title Вечер
        p.item__text Выводит из организма лишнюю жидкость, токсины и шлаки.




