section.block.composition#comp
  .container.composition__container
    .title.composition__title Натуральный состав
      span.colored-text  SuperFit
    .composition__product.product
      img(src="img/product.png", alt="product")
      img.product-img-stick(src="img/product-stick-double.png", alt="product stick")
    .composition__content
      ul.composition__list
        li.composition__item.item
          p.item__title Глюкозамин Человек Нэнси
          .item__img-container
            img(src="img/composition__img1.png", alt="ingredient")
          span.item__text При еде за 30-45 минут до еды. Поможет уменьшить чувство голода и заставить тело чувствовать себя сытым Глюкоманнан.
        li.composition__item.item.item-center
          p.item__title Экстракт морских водорослей
          .item__img-container
            img(src="img/composition__img2.png", alt="ingredient")
          span.item__text Ускорить обменные процессы для энергии&nbsp;и жизненных сил
        li.composition__item.item
          p.item__title Экстракт гарцинии
          .item__img-container
            img(src="img/composition__img3.png", alt="ingredient")
          span.item__text Экстракт кожуры гарцинии содержит редкую гидроксицитриновую кислоту. Эта кислота помогает снизить аппетит.

