mixin customer(customer)
  .customers__item
    .customers__photo
      img.customer__img(src=customer.src, alt="photo")

-
  const customersArray = [
    {
      src: 'img/customers__img1.jpg',
    },
    {
      src: 'img/customers__img2.jpg',
    },
    {
      src: 'img/customers__img3.jpg',
    },
    {
      src: 'img/customers__img4.jpg',
    }
    ,
    {
      src: 'img/customers__img5.jpg',
    }
    ,
    {
      src: 'img/customers__img6.jpg',
    }
  ];





section.block.customers
  .customers__target#rev
  .container.customers__container
    h2.title.customers__title Отзывы реальных покупателей
    .customers__content
      .customers__list.customers__slider
        each customer in customersArray
          +customer(customer)
    .btn.customers__btn.ever-popup-btn Заказать SuperFit
      span.smaller со скидкой
