section.block.decision
  .container.decision__container
    h2.title.decision__title Как проблему решает
      span.colored-text  SuperFit
    .decision__content
      ul.decision__list
        li.decision__item.item
          .item__container
            .item__icon.item__icon1
            p.item__title.item__title-top Ускоряет обмен веществ
          p.item__text Организм будет превращать все калории в энергию,&nbsp;жир&nbsp;не&nbsp;будет откладываться в организме. Благодаря быстрому метаболизму вы можете есть все что угодно, не боясь поправиться.
        li.decision__item.item
          .item__container
            .item__icon.item__icon2
            p.item__title.item__title-middle Притупляет чувство голода
          p.item__text Вы не чувствуете голод, что поможет вам избежать частых перекусов, особенно по вечерам.
        li.decision__item.item
          .item__container
            .item__icon.item__icon3
            p.item__title.item__title-bottom Обеспечивает быстрое насыщение
          p.item__text Для того, чтобы почувствовать себя сытой вам понадобиться гораздо меньше еды, что также способствует вашему быстрому похудению.
    .decision__product.product
      .product__circle.product__circle-top
      .product__circle.product__circle-center
      .product__circle.product__circle-bottom
      .product__center
          img.content__img(src="img/product.png", alt="SuperFit")
          //- img.content__img-mini(src="img/product-stick.png", alt="SuperFit mini")

