section.block.discount
  .container.discount__container
    h2.title.discount__title Успей заказать по акции!!
    //- .discount__product
    //-   img(src="img/product-stick.png", alt="product stick")
    .timer
        .timer__container
            .timer__box.timer__box-h
                span.timer__item.timer__item-decr-margin.hours
                span.timer__item.hours
            .timer__separator :
            .timer__box.timer__box-m
                span.timer__item.timer__item-decr-margin.minutes
                span.timer__item.minutes
            .timer__separator :
            .timer__box.timer__box-s
                span.timer__item.timer__item-decr-margin.seconds
                span.timer__item.last.seconds
    .btn.discount__btn.ever-popup-btn Заказать со скидкой
