section.block.expert
  .container.expert__container
    h2.title.expert__title С помощью
      span.colored-text  SuperFit
      |  худеть стало просто и комфортно
    .expert__content
      .expert__foto
        img(src="img/expert__photo.png", alt="expert photo")
      .box-container
          .expert__text.mCustomScrollbar

            p Диеты, изнурительные тренировки, операции и другие старые методы похудения уходят в прошлое. Об этом я заявляю со всей ответственностью, ведь теперь, практически каждому доступно новое средство, которое помогает похудеть.

            p Я говорю о SuperFit, самое эффективное средство которое помогает похудеть. Его состав подобран так, чтобы
              span.text-bold  похудение было простым, комфортным, без всякого стресса и, что главное, природным.

            p Препарат действует комплексно, а не просто подавляет аппетит, как остальные. SuperFit
             span.text-bold  ускоряет обмен веществ, благодаря чему организм начинает сжигать жиры
             |  и не накапливать их,
             span.text-bold  он подавляет аппетит,
             |  что помогает избежать частых перекусов и,
             span.text-bold  ускоряет насыщение
             |  при приеме пищи. Так, вас надо будет съесть гораздо меньше, чтобы почувствовать полное насыщение.

            p SuperFit уникальное средство для похудения.

          .expert__name
            span.expert__name-name.text-bold Мелисса Хатнер,
            span.expert__name-info Эксперт по красоте и здоровью
            img.expert__confirm(src="img/expert__pic.png", alt="expert confirm")
    .expert__bullets.bullets
      img.bullets-first(src="img/main-bullet2.png", alt="bullet")
      img.bullets-second(src="img/main-bullet1.png", alt="bullet")
      img.bullets-third(src="img/main-bullet4.png", alt="bullet")











