footer.block.footer
  .container.footer__container
    .footer__content
        .footer__logo
            <img alt="image" src="img/everad.svg">
        .footer__text
            a.footer__privacy(href="privacy.html" target="_blank") Политика конфиденциальности


