header.nav
    .container.nav__container
        .nav__menu
            img(src="./img/menu.png", alt="menu")
        .nav__menu-open
            .nav__menu-bg
            .nav__menu-open-content
                .close
                .nav__logo Super
                  span.nav__logo-upper fit
                    sup 3
                ul.nav__list
                        li.nav__list--li
                            a.nav__link.nav__link1(href="#rev")
                              svg(xmlns="http://www.w3.org/2000/svg" width="25.75" height="29.563" viewBox="0 0 25.75 29.563")
                              path(d="M883.354,41.162a6.133,6.133,0,0,0-2.211-3.442,6.141,6.141,0,0,0,2.211-3.443l0.821-3.527a0.577,0.577,0,0,0-.394-0.684l-3.465-1.051a6.136,6.136,0,0,0-4.088.193,6.13,6.13,0,0,0-1.876-3.636L871.709,23.1a0.575,0.575,0,0,0-.789,0l-2.643,2.475a6.137,6.137,0,0,0-1.877,3.636,6.106,6.106,0,0,0-1.8-.434,0.577,0.577,0,1,0-.1,1.149,5.01,5.01,0,0,1,1.861.536,6.12,6.12,0,0,0,1.376,3.452l1.685,2.049-0.544-.313a0.577,0.577,0,1,0-.577,1l0.541,0.312-2.613-.435a6.136,6.136,0,0,0-3.678.534,4.965,4.965,0,0,1-2.15-3.044l-0.7-3,0.469-.142a0.578,0.578,0,0,0-.335-1.105l-0.987.3a0.578,0.578,0,0,0-.395.684l0.822,3.528a6.141,6.141,0,0,0,2.211,3.443,6.133,6.133,0,0,0-2.211,3.442l-0.821,3.526a0.576,0.576,0,0,0,.394.684l3.465,1.053a6.149,6.149,0,0,0,4.087-.193,6.131,6.131,0,0,0,1.877,3.634l2.643,2.476a0.576,0.576,0,0,0,.789,0l2.643-2.476a6.125,6.125,0,0,0,1.876-3.634,6.152,6.152,0,0,0,4.088.193l3.465-1.053a0.578,0.578,0,0,0,.4-0.684Zm-3.373-11.044,2.947,0.9-0.7,3a4.971,4.971,0,0,1-2.15,3.044,6.137,6.137,0,0,0-3.678-.534l-2.613.435,0.541-.313a0.577,0.577,0,1,0-.577-1l-0.545.314,1.686-2.049a6.113,6.113,0,0,0,1.376-3.452A4.984,4.984,0,0,1,879.981,30.119Zm-9.306,7.97h0a0.729,0.729,0,0,1-.1-0.368,0.739,0.739,0,0,1,.094-0.361l0.006-.008a0.02,0.02,0,0,0,0-.005,0.736,0.736,0,0,1,.628-0.365h0.017a0.736,0.736,0,0,1,.628.365,0.02,0.02,0,0,0,0,.005l0.006,0.008a0.75,0.75,0,0,1,.094.361,0.729,0.729,0,0,1-.1.368h0A0.737,0.737,0,0,1,870.675,38.089ZM867.5,30.031a4.974,4.974,0,0,1,1.568-3.616l2.248-2.1,2.249,2.1A4.954,4.954,0,0,1,874,33.18l-2.11,2.563v-1.17a0.578,0.578,0,1,0-1.155,0v1.17l-2.11-2.563A4.967,4.967,0,0,1,867.5,30.031Zm-4.85,15.288-2.947-.894,0.7-3a4.955,4.955,0,0,1,5.638-3.762l3.276,0.545-1.014.586a0.577,0.577,0,0,0,.577,1l1.014-.586-1.165,3.11A4.956,4.956,0,0,1,862.648,45.319Zm10.915,3.706-2.249,2.1-2.248-2.1a4.978,4.978,0,0,1-1.562-3.385,6.128,6.128,0,0,0,2.3-2.917l0.93-2.482v1.25a0.577,0.577,0,1,0,1.155,0v-1.25l0.93,2.482a6.122,6.122,0,0,0,2.3,2.917A4.978,4.978,0,0,1,873.563,49.026Zm6.418-3.706a4.956,4.956,0,0,1-6.078-3l-1.165-3.11,1.014,0.586a0.577,0.577,0,0,0,.577-1l-1.014-.586,3.275-.545a4.955,4.955,0,0,1,5.639,3.762l0.7,3Zm-8.674-2.1a0.579,0.579,0,0,0-.408.987,0.578,0.578,0,0,0,.816-0.818A0.586,0.586,0,0,0,871.307,43.223Zm-9.1-13a0.574,0.574,0,1,0-.408-0.168A0.581,0.581,0,0,0,862.209,30.227Z" transform="translate(-858.438 -22.938)")
                                p
                                    span.nav__text Состав
                        li.nav__list--li.second
                            a.nav__link.nav__link2(href="#comp")
                                svg(xmlns="http://www.w3.org/2000/svg" width="25.75" height="29.563" viewBox="0 0 25.75 29.563")
                                path(d="M883.354,41.162a6.133,6.133,0,0,0-2.211-3.442,6.141,6.141,0,0,0,2.211-3.443l0.821-3.527a0.577,0.577,0,0,0-.394-0.684l-3.465-1.051a6.136,6.136,0,0,0-4.088.193,6.13,6.13,0,0,0-1.876-3.636L871.709,23.1a0.575,0.575,0,0,0-.789,0l-2.643,2.475a6.137,6.137,0,0,0-1.877,3.636,6.106,6.106,0,0,0-1.8-.434,0.577,0.577,0,1,0-.1,1.149,5.01,5.01,0,0,1,1.861.536,6.12,6.12,0,0,0,1.376,3.452l1.685,2.049-0.544-.313a0.577,0.577,0,1,0-.577,1l0.541,0.312-2.613-.435a6.136,6.136,0,0,0-3.678.534,4.965,4.965,0,0,1-2.15-3.044l-0.7-3,0.469-.142a0.578,0.578,0,0,0-.335-1.105l-0.987.3a0.578,0.578,0,0,0-.395.684l0.822,3.528a6.141,6.141,0,0,0,2.211,3.443,6.133,6.133,0,0,0-2.211,3.442l-0.821,3.526a0.576,0.576,0,0,0,.394.684l3.465,1.053a6.149,6.149,0,0,0,4.087-.193,6.131,6.131,0,0,0,1.877,3.634l2.643,2.476a0.576,0.576,0,0,0,.789,0l2.643-2.476a6.125,6.125,0,0,0,1.876-3.634,6.152,6.152,0,0,0,4.088.193l3.465-1.053a0.578,0.578,0,0,0,.4-0.684Zm-3.373-11.044,2.947,0.9-0.7,3a4.971,4.971,0,0,1-2.15,3.044,6.137,6.137,0,0,0-3.678-.534l-2.613.435,0.541-.313a0.577,0.577,0,1,0-.577-1l-0.545.314,1.686-2.049a6.113,6.113,0,0,0,1.376-3.452A4.984,4.984,0,0,1,879.981,30.119Zm-9.306,7.97h0a0.729,0.729,0,0,1-.1-0.368,0.739,0.739,0,0,1,.094-0.361l0.006-.008a0.02,0.02,0,0,0,0-.005,0.736,0.736,0,0,1,.628-0.365h0.017a0.736,0.736,0,0,1,.628.365,0.02,0.02,0,0,0,0,.005l0.006,0.008a0.75,0.75,0,0,1,.094.361,0.729,0.729,0,0,1-.1.368h0A0.737,0.737,0,0,1,870.675,38.089ZM867.5,30.031a4.974,4.974,0,0,1,1.568-3.616l2.248-2.1,2.249,2.1A4.954,4.954,0,0,1,874,33.18l-2.11,2.563v-1.17a0.578,0.578,0,1,0-1.155,0v1.17l-2.11-2.563A4.967,4.967,0,0,1,867.5,30.031Zm-4.85,15.288-2.947-.894,0.7-3a4.955,4.955,0,0,1,5.638-3.762l3.276,0.545-1.014.586a0.577,0.577,0,0,0,.577,1l1.014-.586-1.165,3.11A4.956,4.956,0,0,1,862.648,45.319Zm10.915,3.706-2.249,2.1-2.248-2.1a4.978,4.978,0,0,1-1.562-3.385,6.128,6.128,0,0,0,2.3-2.917l0.93-2.482v1.25a0.577,0.577,0,1,0,1.155,0v-1.25l0.93,2.482a6.122,6.122,0,0,0,2.3,2.917A4.978,4.978,0,0,1,873.563,49.026Zm6.418-3.706a4.956,4.956,0,0,1-6.078-3l-1.165-3.11,1.014,0.586a0.577,0.577,0,0,0,.577-1l-1.014-.586,3.275-.545a4.955,4.955,0,0,1,5.639,3.762l0.7,3Zm-8.674-2.1a0.579,0.579,0,0,0-.408.987,0.578,0.578,0,0,0,.816-0.818A0.586,0.586,0,0,0,871.307,43.223Zm-9.1-13a0.574,0.574,0,1,0-.408-0.168A0.581,0.581,0,0,0,862.209,30.227Z" transform="translate(-858.438 -22.938)")
                                p
                                    span.nav__text Отзывы
                include ../data/timer.pug
                button.ever-popup-btn.btn.nav__btn Заказать звонок
        .nav__logo Super
          span.nav__logo-upper fit
            sup 3
        ul.nav__list.desktop
            li.nav__list--li
                a(href="#rev")
                    svg(xmlns="http://www.w3.org/2000/svg" width="25.75" height="29.563" viewBox="0 0 25.75 29.563")
                      path(d="M883.354,41.162a6.133,6.133,0,0,0-2.211-3.442,6.141,6.141,0,0,0,2.211-3.443l0.821-3.527a0.577,0.577,0,0,0-.394-0.684l-3.465-1.051a6.136,6.136,0,0,0-4.088.193,6.13,6.13,0,0,0-1.876-3.636L871.709,23.1a0.575,0.575,0,0,0-.789,0l-2.643,2.475a6.137,6.137,0,0,0-1.877,3.636,6.106,6.106,0,0,0-1.8-.434,0.577,0.577,0,1,0-.1,1.149,5.01,5.01,0,0,1,1.861.536,6.12,6.12,0,0,0,1.376,3.452l1.685,2.049-0.544-.313a0.577,0.577,0,1,0-.577,1l0.541,0.312-2.613-.435a6.136,6.136,0,0,0-3.678.534,4.965,4.965,0,0,1-2.15-3.044l-0.7-3,0.469-.142a0.578,0.578,0,0,0-.335-1.105l-0.987.3a0.578,0.578,0,0,0-.395.684l0.822,3.528a6.141,6.141,0,0,0,2.211,3.443,6.133,6.133,0,0,0-2.211,3.442l-0.821,3.526a0.576,0.576,0,0,0,.394.684l3.465,1.053a6.149,6.149,0,0,0,4.087-.193,6.131,6.131,0,0,0,1.877,3.634l2.643,2.476a0.576,0.576,0,0,0,.789,0l2.643-2.476a6.125,6.125,0,0,0,1.876-3.634,6.152,6.152,0,0,0,4.088.193l3.465-1.053a0.578,0.578,0,0,0,.4-0.684Zm-3.373-11.044,2.947,0.9-0.7,3a4.971,4.971,0,0,1-2.15,3.044,6.137,6.137,0,0,0-3.678-.534l-2.613.435,0.541-.313a0.577,0.577,0,1,0-.577-1l-0.545.314,1.686-2.049a6.113,6.113,0,0,0,1.376-3.452A4.984,4.984,0,0,1,879.981,30.119Zm-9.306,7.97h0a0.729,0.729,0,0,1-.1-0.368,0.739,0.739,0,0,1,.094-0.361l0.006-.008a0.02,0.02,0,0,0,0-.005,0.736,0.736,0,0,1,.628-0.365h0.017a0.736,0.736,0,0,1,.628.365,0.02,0.02,0,0,0,0,.005l0.006,0.008a0.75,0.75,0,0,1,.094.361,0.729,0.729,0,0,1-.1.368h0A0.737,0.737,0,0,1,870.675,38.089ZM867.5,30.031a4.974,4.974,0,0,1,1.568-3.616l2.248-2.1,2.249,2.1A4.954,4.954,0,0,1,874,33.18l-2.11,2.563v-1.17a0.578,0.578,0,1,0-1.155,0v1.17l-2.11-2.563A4.967,4.967,0,0,1,867.5,30.031Zm-4.85,15.288-2.947-.894,0.7-3a4.955,4.955,0,0,1,5.638-3.762l3.276,0.545-1.014.586a0.577,0.577,0,0,0,.577,1l1.014-.586-1.165,3.11A4.956,4.956,0,0,1,862.648,45.319Zm10.915,3.706-2.249,2.1-2.248-2.1a4.978,4.978,0,0,1-1.562-3.385,6.128,6.128,0,0,0,2.3-2.917l0.93-2.482v1.25a0.577,0.577,0,1,0,1.155,0v-1.25l0.93,2.482a6.122,6.122,0,0,0,2.3,2.917A4.978,4.978,0,0,1,873.563,49.026Zm6.418-3.706a4.956,4.956,0,0,1-6.078-3l-1.165-3.11,1.014,0.586a0.577,0.577,0,0,0,.577-1l-1.014-.586,3.275-.545a4.955,4.955,0,0,1,5.639,3.762l0.7,3Zm-8.674-2.1a0.579,0.579,0,0,0-.408.987,0.578,0.578,0,0,0,.816-0.818A0.586,0.586,0,0,0,871.307,43.223Zm-9.1-13a0.574,0.574,0,1,0-.408-0.168A0.581,0.581,0,0,0,862.209,30.227Z" transform="translate(-858.438 -22.938)")
                    p
                        span.nav__text Состав
            li.nav__list--li.second
                a(href="#comp")
                    svg(xmlns="http://www.w3.org/2000/svg" width="29.5" height="29.469" viewBox="0 0 29.5 29.469")
                      path(d="M1073.63,48.138h-1.05a1.155,1.155,0,0,1,1.1-1.252,0.578,0.578,0,0,0,.53-0.573V44.589a0.6,0.6,0,0,0-.18-0.418,0.584,0.584,0,0,0-.43-0.155c-1.82.1-3.99,1.02-3.99,4.818v3a0.911,0.911,0,0,0,.91.907h3.11a0.911,0.911,0,0,0,.91-0.907V49.046A0.912,0.912,0,0,0,1073.63,48.138Zm-0.24,3.448h-2.63V48.834c0-2.649,1.18-3.391,2.3-3.6V45.84c-0.77.235-1.66,0.927-1.66,2.875a0.575,0.575,0,0,0,.57.575h1.42v2.3Zm6.13-3.448h-1.05a1.149,1.149,0,0,1,1.1-1.252,0.578,0.578,0,0,0,.53-0.573V44.589a0.6,0.6,0,0,0-.18-0.418,0.584,0.584,0,0,0-.43-0.155c-1.82.1-3.99,1.02-3.99,4.818v3a0.9,0.9,0,0,0,.9.907h3.12a0.911,0.911,0,0,0,.91-0.907V49.046A0.912,0.912,0,0,0,1079.52,48.138Zm-0.24,3.448h-2.63V48.834c0-2.649,1.18-3.391,2.29-3.6V45.84c-0.77.235-1.65,0.927-1.65,2.875a0.569,0.569,0,0,0,.57.575h1.42v2.3h0Zm3.64-2.921a0.587,0.587,0,0,0-.82,0,0.574,0.574,0,0,0,0,.815,0.581,0.581,0,0,0,.82,0A0.574,0.574,0,0,0,1082.92,48.666Zm2.83-.167h-0.73a0.576,0.576,0,0,0,0,1.151h0.73a9.084,9.084,0,0,1,1.87,17.972,0.574,0.574,0,0,0-.45.563v3.346l-3.55-3.547a0.6,0.6,0,0,0-.41-0.169h-6.47a9.085,9.085,0,0,1-7.95-13.492,0.569,0.569,0,0,0-.22-0.784,0.585,0.585,0,0,0-.79.224,10.244,10.244,0,0,0,8.96,15.2h6.23l4.36,4.363a0.585,0.585,0,0,0,.41.169,0.539,0.539,0,0,0,.22-0.045,0.571,0.571,0,0,0,.36-0.531v-4.28A10.236,10.236,0,0,0,1085.75,48.5Zm2.58,5.736h-14.17a0.576,0.576,0,1,0,0,1.152h14.17A0.576,0.576,0,1,0,1088.33,54.235Zm0,3.072h-14.17a0.576,0.576,0,1,0,0,1.152h14.17A0.576,0.576,0,1,0,1088.33,57.307Zm0,3.072h-14.17a0.575,0.575,0,1,0,0,1.151h14.17A0.575,0.575,0,1,0,1088.33,60.379Zm0,3.07h-7.56a0.575,0.575,0,0,0,0,1.151h7.56A0.575,0.575,0,1,0,1088.33,63.449Zm-10.8,0h-0.01a0.575,0.575,0,0,0,0,1.151h0.01A0.575,0.575,0,1,0,1077.53,63.449Z" transform="translate(-1066.5 -44.031)")
                    p
                        span.nav__text Отзывы
        .timer.nav__timer.desktop
            .timer__title До конца акции
                br
                | осталось:
            .timer__container
                .timer__box
                    span.timer__item.hours
                    span.timer__item.hours
                .timer__separator :
                .timer__box
                    span.timer__item.minutes
                    span.timer__item.minutes
                .timer__separator :
                .timer__box
                    span.timer__item.seconds
                    span.timer__item.last.seconds
        button.ever-popup-btn.btn.nav__btn.desktop Заказать звонок

