section.block.order
  .container.order__container
    .title.order__title Как заказать доставку
      span.colored-text  SuperFit
    .order__content
      ul.order__list
        li.order__item.item
          .item__picture.item__picture-first
          .item__container
            p.item__title Введите вашу личную информацию
            p.item__text Только имя-фамилия и&nbsp;номер&nbsp;телефона
        li.order__item.item
          .item__picture.item__picture-second
          .item__container
            p.item__title Ожидайте ответа от оператора
            p.item__text Он ответит на все ваши вопросы про SuperFit
        li.order__item.item
          .item__picture.item__picture-third
          .item__container
            p.item__title Оплата
              br
              | по&nbsp;назначению
            p.item__text Без предоплаты!

