.ever-popup-build
  .my-popup(id="cloneThis")
    .my-popup__wrap
      .my-popup__left
        .my-popup__product
          img(src="img/product.png", alt="SuperFit")
      .my-popup__right
        include form
