section.block.program
  .container.program__container
    .title.program__title Программа экспресс похудения в
      span.colored-text  3 шага
    .program__content
      .program__diagram.diagram
        .diagram__days
          span утро
          span день
          span вечер
        img(src="img/program__pic.png", alt="diagram")
        p.diagram__text SuperFit работает днем и ночью обеспечивая похудение
          span.colored-text  24/7!
      .program__vs-border
      .program__diagram.diagram
        .diagram__days
          span утро
          span день
          span вечер
        img(src="img/program__pic2.png", alt="diagram")
        p.diagram__text Обычные продукты для контроля веса
    .program__description.description
      p.description__text Ингредиенты
        span.colored-text  SuperFit
        |  подобраны таким образом, чтобы разобраться именно с причиной набора лишнего веса.
      p.description__text Будь то генетическая предрасположенность или медленный обмен веществ, SuperFit поможет похудеть. В отличие от других средств, ингредиенты которых зачастую не сочетаются, что негативно сказывается на эффекте средства для похудения.



