section.block.promo.promo-bottom.bg-block.promo-top
    .container.promo__container
        h2.title.promo__title SuperFit работает над вашим похудением
          span.colored-text  24&nbsp;часа
          |  в сутки
        .promo__product
          img(src="img/product.png", alt="product")
        .promo__bullets
          img(src="img/main-bullet1.png", alt="best choice")
          img(src="img/main-bullet2.png", alt=" 100% natural")
          img(src="img/main-bullet3.png", alt="100% secure")
        .promo__content
          ul.promo__list.list
            li.list__item Подавляет аппетит и&nbsp;ускоряет метаболизм
            li.list__item Запускает сжигание жира
            li.list__item Устраняет избыток воды&nbsp;и токсинов
          include form

