mixin slide(slide)
  li.slide.reviews__item
    .slide__photo
      img.slide__img(src=slide.src, alt="photo")
      img.product-mini(src="img/product-mini.png", alt="product small")
    .slide__info
      p.slide__name!=slide.name
    .slide__desc.js-comment
      p.slide__title!=slide.title
      p.slide__text!=slide.text
    .slide__btn.js-show-comment Подробнее

-
  const slideArray = [
    {
      src: 'img/reviews__foto6.png',
      name: 'Женщина',
      title: 'Похудел на 5 кг+ за 3 недели',
      text: 'Наконец-то это случилось! После 3 недель с SuperFit  я скинула более 5 кг. Это вдвое быстрее, чем мне удавалось худеть до этого! Если бы не SuperFit , я бы не достигла желаемой цифры на весах. За 3 недели приема мне удалось легко. Самое приятное, что я не испытывала никакого стресса, который обычно чувствуешь, если находишься в процессе похудения. SuperFit - это просто находка для всех, кто хочет похудеть!'
    },
        {
      src: 'img/reviews__foto2.png',
      name: 'Женщина',
      title: 'Успела скинуть 25 кг к пляжному сезону ',
      text: 'О SuperFit мне рассказала близкая подруга, которая сама с его помощью хорошо похудела. Я  тоже решила заказать, так как очень хотела привести себя в форму к пляжному сезону. И у меня все получилось! Мы обе как-будто снова вернулись в подростковый возраст, когды былди стройными и красивыми. Спасибо SuperFit за такое простое и волшебное похудение!',
    },
        {
      src: 'img/reviews__foto3.png',
      name: 'Женщина',
      title: 'Легко похудела на 1 размер ',
      text: 'Это средство оценят те, кто длительное время безуспешно пытается похудеть. SuperFit помогает худеть, не ощущая дикого голода и нормализуя работу метаболизма. Самое удивительно для меня было то, что я не занималась спортом и не мучала себя строгими диетами, а похудеть все равно смогла. Может не очень сильно, но ровно столько, сколько хотела.',

    },
        {
      src: 'img/reviews__foto5.png',
      name: 'Женщина',
      title: 'Вернулась к прежнему весу после перерыва в спорте',
      text: 'Я в восторге от путешествия под названием "Похудение" вместе с SuperFit. Он помог мне привести себя в форму, после того как я на пару месяцев закинула тренировки. Я похудела гораздо проще и без нервов. Это очень важно, потому, что когда я нервничаю я начинаю есть, а с SuperFit стресса не было, и я не переедала соответственно. Все просто идеально.',
    },
        {
      src: 'img/reviews__foto4.png',
      name: ' Женщина',
      title: 'Результат: 9 кг за 2 месяца',
      text: 'Я попробовала SuperFit и увидела результат через 2 месяца — 9 кг. Придерживаться жесткой диеты не нужно, но чем сбалансированнее будет ваше питание, тем лучше результат. Зато мой вес теперь меня полностью устраивает. Пришлось понервничать, потому что не было никакого эффекта первое время. Но я сама сделала ошибку, так как принимала его не по инструкции. Так что, если худеть по инструкции, то все получится.'
    },
        {
      src: 'img/reviews__foto1.png',
      name: 'Женщина',
      title: 'Вернулась к 8 размеру одежды',
      text: 'Сегодня ровно 6 месяцев с тех пор, как я принимаю SuperFit и наконец-то сново вернулась к 8 размеру одежды. Я была настроена скептически, но после изучения сайта и состава, убедилась что там нет ничего страшного. SuperFit все ожидания оправдал, советую попробовать всем, кто мечтает привести себя в форму. Конечно, вы не будете, как красавицы из кино, но то что вы похудеете - это точно. Я же похудела'
    }
  ];



section.block.reviews
  .container.reviews__container
    h2.title.reviews__title Отзывы людей, которые&nbsp;приобрели
      span.colored-text  SuperFit
    ul.reviews__list
      .arrow-prev
      .arrow-next
      .slider__container
        each slide in slideArray
          +slide(slide)
