.timer
    .timer__container
        .timer__box
            span.timer__item.hours
            span.timer__item.hours
        .timer__separator :
        .timer__box
            span.timer__item.minutes
            span.timer__item.minutes
        .timer__separator :
        .timer__box
            span.timer__item.seconds
            span.timer__item.last.seconds
